.wrapper {
  margin: 1.2em;
}

.customer{
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    margin: -.3em;
  }

  &__item {
    position: relative;

    width: 13em;
    min-height: 3em;

    margin: .3em;
    padding: 2em;

    background-color: darken( $lightBlue, 10 );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    input {
      background-color: darken( $lightBlue, 25);
      border: none;
      font-size: .8em;

      color: $darkBlue;

      border-radius: .15em;
      padding: .15em .20em;

      margin: 0 -.20em;
    }

    button {
      background-color: $yellow;

      border: none;
    }

    &__addButton {
      position: absolute;

      width: 100%;
      height: 100%;

      top: 0;
      left: 0;

      margin: 0;

      border-radius: 0;

      font-size: 1.2em;
    }

    &__saveButton {
      padding: .15em;

      border-radius: .15em;
      font-size: .8em;
      margin: 0 0 0 .20em;
    }

    &__deleteButton {
      position: absolute;

      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 1.8em;
      height: 1.8em;

      top: 1.2em;
      right: 1.2em;

      cursor: pointer;
    }
  }
}